# next.js build
out

# next.js cache
.next

# confidential
.env

# npm build files
node_modules
.npm
.config

# Vim usage files
*.sw?

# SASS build files
.sass-cache
*.css.map

# MacOS directory files
.DS_Store
