/* App Dimensions */
$width-page: 64rem;
$height-header: 6.25rem;
$height-menubar: 2rem;
$height-banner: 27rem;

/* UI Palette */
$color-black: #222222;
$color-bg-grey-dark: #2B2B2B; 
$color-bg-grey-light: #333333;
$color-contrast-white: #cacaca;
$color-contrast-grey: #999999;
$color-faded-green: #EDF5EE;
$color-faded-blue: #DDE6EC;
$color-faded-purple: #ead3e0;

/* Main Palette */
$color-green: #40ac47;
$color-green-lightest: #97de9c;
$color-green-light: #67c86d;
$color-green-dark: #23982b;
$color-green-darkest: #0f7716;
$color-purple: #b1427f;
$color-purple-lightest: #e299c1;
$color-purple-light: #cd69a0;
$color-purple-dark: #9c2466;
$color-purple-darkest: #7b0f4a;
$color-orange: #db9151;
$color-orange-lightest: #ffd3ad;
$color-orange-light: #febb82;
$color-orange-dark: #c1712c;
$color-orange-darkest: #985013;
$color-red: #db5551;
$color-red-lightest: #ffafad;
$color-red-light: #fe8582;
$color-red-dark: #c1302c;
$color-red-darkest: #981613;

/* Alt Palette */
$color-blue: #4791c1;
$color-blue-lightest: #9dcbe9;
$color-blue-light: #6bacd5;
$color-blue-dark: #2a79ad;
$color-blue-darkest: #0c6098;
$color-yellow: #ffd254;
$color-yellow-lightest: #ffe8a6;
$color-yellow-light: #ffdc78;
$color-yellow-dark: #ffc931;
$color-yellow-darkest: #edb005;
$color-rose: #ff8054;
$color-rose-lightest: #ffbda6;
$color-rose-light: #ff9b78;
$color-rose-dark: #ff6631;
$color-rose-darkest: #ed4005;

/* Font Choices */
@mixin mx-font-banner-title {
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}
@mixin mx-font-banner-content {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-family: Verdana, sans-serif;
}
@mixin mx-font-h {
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}
@mixin mx-font-h-caps {
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}
@mixin mx-font-ui {
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-family: Helvetica, Arial, system-ui, sans-serif;
}
@mixin mx-font-content {
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif;
}
@mixin mx-font-content-alt {
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-family: Tahoma, sans-serif;
}

/* Desktop Styles */
html {
    background-color: $color-green;
}

body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
}

h1 {
    color: $color-green;
    font-size: 2.5rem;
    margin: 1rem 1rem 1rem 1rem;
    @include mx-font-h;
}

h2 {
    color: $color-black;
    font-size: 2.5rem;
    margin: 2rem 1rem .5rem 1rem;
    border-bottom: .125rem solid $color-bg-grey-light;
    @include mx-font-h;
}

h3 {
    color: $color-bg-grey-light;
    font-size: 1.875rem;
    margin: 1.5rem 1rem 1rem 1rem;
    @include mx-font-h;
}

h4 {
}

h5 {
    color: $color-bg-grey-dark;
    margin: .5rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    @include mx-font-content;
}

h6 {
    color: $color-bg-grey-light;
    font-size: 1.25rem;
    @include mx-font-content;
}

p {
    color: $color-bg-grey-dark;
    font-size: 1.25rem;
    margin: .5rem 1rem;
    @include mx-font-content;
}

#app {
    background: url("./assets/page-background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#site-page {
    width: 100%;
    max-width: $width-page;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    height: $height-header;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    background-color: $color-bg-grey-dark;

    > img{
    }
}

nav {
    height: $height-menubar;
    width: 100%;
    background-color: $color-bg-grey-light;
    @include mx-font-ui;

    > div {
        display: none;
    }
    ul {
        height: inherit;
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    li {
        flex: 2 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        height: inherit;
    }
    .home-icon {
        flex: 1 1 auto;
        background-image: url('./assets/home_white_18x18.png');
        background-size: 18px 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    a.home-icon-open {
        background-image: url('./assets/icon-menu-open.png');
        background-size: 87px 19px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    a.home-icon-close {
        background-image: url('./assets/icon-menu-close.png');
        background-size: 156px 19px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    a {
        flex: 1 1 auto;
        text-align: center;
        padding: .5rem 0rem;
        text-decoration: none;
        color: white;
    }
    a:hover {
        box-sizing: border-box;
        border-bottom: .125rem solid $color-green;
    }
    .selected {
        color: $color-green;
    }
    a.selected-home {
        background-image: url('./assets/home_green_18x18.png');
    }
}

#page-404 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#home-banner {
    background-image: url("./assets/Indiana-Grand-racetrack.jpg");
    background-image: linear-gradient(120deg, transparent, #333333), url("./assets/Indiana-Grand-racetrack.jpg");
    position: relative;
}

.banner {
    width: 100%;
    height: $height-banner;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#home-banner-message {
    display: flex;
    flex-flow: column nowrap; 
    align-items: flex-end;
    position: absolute;
    right: 1rem;
    top: 1rem;;
    bottom: 0;
    width: 30rem;
    color: white;

    h1 {
        color: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        margin: 0;
        padding: 0;
        font-size: 3rem;
        text-shadow: 2px 2px 4px black;
        @include mx-font-banner-title;
    }
    p {
        color: white;
        text-align: right;
        font-size: 1.2rem;
        text-shadow: 2px 2px 4px black;
        width: 20rem;
        @include mx-font-banner-content;
    }
    a {
        text-decoration: none;
        color: white;
        background-color: $color-green;
        padding: .5rem 1rem;
        margin: 0 3rem 0 0;
        border-radius: .25rem;
        transition: all .25s ease-out;
        text-shadow:
            0 2px 2px rgba(0,0,0,.14),
            0 3px 1px rgba(0,0,0,.2),
            0 1px 5px rgba(0,0,0,.12);
        box-shadow:
            0 2px 2px rgba(0,0,0,.14),
            0 3px 1px rgba(0,0,0,.2),
            0 1px 5px rgba(0,0,0,.12);
        @include mx-font-banner-content;

        &:hover {
            box-shadow:
                0 2px 4px rgba(0,0,0,.35),
                0 3px 4px rgba(0,0,0,.2),
                0 1px 8px rgba(0,0,0,.35);
        }
    }
}

.blank-page {
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.25rem;
    @include mx-font-content;
}

.tagline {
    background-color: $color-faded-green;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 1rem;

}

#tagline-main {
    h1 {
        text-align: left;
    }
}

.tagline-content {
    display: flex;
    flex-flow: column nowrap;

    a {
        margin: 0rem 1rem;
    }
}

#service-summary {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0rem 1rem;

    .summary-item {
        flex: 1 1 auto;
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0rem 1rem;

        h3 {
            text-align: center;
        }
        p {
            text-align: center;
            min-height: 10rem;
        }
        a {
            font-size: 2rem;
            margin: .5rem 0 1rem 0;
        }
    }
}

#people-summary {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bio-showcase {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 1.25rem 0rem;

    .bio {
        flex: 1 0 auto;
        display: flex;
        flex-flow: row nowrap;
        margin: 0rem 1rem;
        max-width: 45%;

        img {
            object-fit: contain;
            margin: 0rem 1rem;
        }
        div {
            display: flex;
            flex-flow: column nowrap;
        }
        h1 {
            font-size: 1.125rem;
            color: $color-bg-grey-light;
            margin: 0;
            padding: 0;
        }
        h2 {
            font-size: 1rem;
            color: $color-bg-grey-light;
            margin: 0;
            padding: 0;
            @include mx-font-content;
        }
        p {
            font-size: 1rem;
            color: $color-bg-grey-light;
            margin: .5rem 0rem;
            padding: 0;
            @include mx-font-content-alt;
        }
        a {
            font-size: 1rem;
            color: blue;
            @include mx-font-content-alt;
        }
    }

    .bio-ltr {
        text-align: left;
        img { order: 0; }
    }
    .bio-rtl {
        text-align: right;
        img { order: 10; }
    }
}

#contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 2rem;
    }
    button {
        padding: 0 .125rem;
        margin: 0 .25rem;
        font-size: 1.25rem;
        border-width: 0;
        @include mx-font-h;
        color: $color-black;

        span::after {
            color: #dd0426;
            content: ">";
            margin: 0 0 0 .25rem;
        }
    }
    input {
        height: 1.5rem;
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.4);
        box-shadow: 
            0 2px 2px rgba(0,0,0,.14)
            0 3px 1px rgba(0,0,0,.2),
            0 1px 5px rgba(0,0,0,.12);
        color: $color-bg-grey-light;
        width: 20rem;
        @include mx-font-ui;
        font-size: 1rem;
    }
}

#balf-sample-page {
    display: flex;
    flex-flow: column nowrap;

    h1 {
    }
    h2 {
        font-size: 2.25rem;
        border-bottom: none;
        text-decoration: underline;
    }
    h3 {
        margin: 1rem 1rem 1rem 1rem;
    }
    h4 {
        font-size: 1.5rem;
        margin: 1rem;
        color: $color-bg-grey-dark;
    }
    h5 {
        margin: 0 1rem .5rem 1rem;
    }
    h6 {
        margin: 1rem;
    }
}

#balf-sample-banner {
    background-image: url("./assets/bal-procedure.jpg");
    height: $height-banner * .75;
    width: $width-page * .75;
    align-self: flex-end;
}

.table-of-contents {
    background-color: $color-faded-blue;
    border:2px solid #4791c1;
    padding: 25px;
    margin: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    right: 0;
    width: 250px;
    height: min-content;
    flex: 0 0 auto;
    @include mx-font-content-alt;

    > span {
        margin: 0 0 .5rem 0;
        font-size: 1.5rem;
        color: $color-blue-darkest;
        width: 100%;
        border-bottom: 2px solid $color-blue-dark;
        font-family: Verdana;
    }
    > a {
        flex: 0 0 auto;
        font-size: 1.25rem;
        text-decoration: none;
        padding: .5rem;
        color: $color-green-darkest;
        color: $color-bg-grey-light;
    }   
    > a::before {
        content: "➤";
        font-weight: 400;
        font-size: 1rem;
        padding: .5rem;
        color: $color-blue-dark;
    }
    > a:hover {
        color: $color-blue-dark;
    }
}

.table-of-contents-bar {
    background-color: $color-faded-blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    > span {
        margin: 0 0 0 1rem;
        font-size: 1.5rem;
        color: $color-bg-grey-dark;
    }
    > a {
        text-decoration: none;
        font-size: 1.125rem;
        padding: .5rem;
        color: $color-bg-grey-light;
    }
    > a::before {
        content: "➤";
        font-weight: 400;
        font-size: 1rem;
        padding: .5rem;
        color: $color-blue;
    }
}

#balf-tagline {
    a {
        font-size: 1.25rem;
    }
}

#balf-what-we-do {
    display: flex;
    flex-flow: column nowrap;
    color: $color-bg-grey-light;
    margin: 0rem 1rem;
    
    h3 {

    }
    span {
        margin: 0rem 1rem;
        font-size: 1.25rem;
    }
    ul {
        list-style-type: disc;
        font-size: 1.25rem;
    }
    li {
        margin: .5rem 4rem;
    }
}

#balf-ship-cost-sample {
    display: flex;
    flex-flow: row nowrap;
    margin: 0rem 1rem 1rem 1rem;
    > div {
        width: 50%;
    }
}

#balf-preparing-sample {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0rem 1rem;
    color: $color-bg-grey-light;

    > div {
        display: flex;
        flex-flow: column nowrap;
    }
    ol {
        font-size: 1.25rem;
        margin: 0rem 2rem 0rem 4rem;
        list-style-type: decimal;
    }
    li {
        margin: .5rem 0rem;
    }
    figure {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 1rem 0rem;
        max-width: 100%;

        img {
            max-width: 100%;
        }
    }
    figcaption {
        margin: 0rem 1rem 1rem 1rem;
        text-align: center;
        font-size: 1rem;
        @include mx-font-content-alt;
        font-style: italic;
        max-width: 100%;
    }
}

#balf-shipping-sample {
    color: $color-bg-grey-light;
    flex: 1 1 auto;
    margin: 0rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    span {
        margin: 0rem 1rem .25rem 1rem;
        font-size: 1.25rem;
        font-weight: 400;
    }
    ul {
        font-size: 1.125rem;
        margin: 0rem 4rem 1rem 4rem;
        list-style-type: square;
    }
    ul.address {
        list-style: none;
    }
    > div {
        font-weight: 400;
        font-size: 1.25rem;
        margin: 0rem 2rem 1rem 2rem;
    }
    em {
        font-style: italic;
    }
    u {
        text-decoration: underline;
    }

}

#balf-cost-sample {
    flex: 1 1 auto;
    margin: 0rem 1rem;
    color: $color-bg-grey-light;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    span {
        font-size: 1.5rem;
        align-self: center;
        font-weight: 400;
        margin: 0rem 0rem 1rem 0rem;
    }
    li {
        margin: .5rem;
    }
    em {
        font-style: italic;
    }
    img {
        flex: 0 0 auto;
        width: 320px;
        object-fit: contain;
        border: 2px solid $color-green-darkest;
    }
    figure {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 1rem 0rem;
    }
    figcaption {
        margin: 0rem 1rem;
        text-align: center;
        font-size: 1rem;
        @include mx-font-content-alt;
        font-style: italic;
    }
}

#env-consulting-page {
    display: flex;
    flex-flow: column nowrap;
    
    h1 {
        font-size: 2.375rem;
    }
    h2 {
        font-size: 2.25rem;
        border-bottom: none;
        text-decoration: underline;
    }
    h3 {
        margin: 1rem 1rem 1rem 1rem;
    }
    h4 {
        font-size: 1.5rem;
        margin: 1rem;
        color: $color-bg-grey-dark;
    }
    h5 {
        margin: 0 1rem .5rem 1rem;
    }
    h6 {
        margin: 1rem;
    }
}

#env-tagline {
    a {
        font-size: 1.25rem;
    }
}

#env-what-we-do {
    display: flex;
    flex-flow: column nowrap;
    color: $color-bg-grey-light;
    margin: 0rem 1rem;

    ul {
        margin: 0rem 1rem;
        list-style-type: disc;
    }
    li {
        margin: 0rem 4rem .5rem 4rem;
    }
    span {
        margin: 0rem 1rem;
    }
}

#env-request-services {
    display: flex;
    flex-flow: column nowrap;
    color: $color-bg-grey-light;
    margin: 0rem 1rem;

    div {
        margin: 0rem 1rem;
    }
}

#env-image-aero {
    img {
            width: 18rem;
    }
}

.inline-image {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.figure-with-caption {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem 0rem;

    figcaption {
        margin: 0rem 1rem 1rem 1rem;
        text-align: center;
        font-size: 1rem;
        @include mx-font-content-alt;
        font-style: italic;
    }
}

#env-cost-service {
    display: flex;
    flex-flow: column nowrap;
    color: $color-bg-grey-light;
    margin: 0rem 1rem;
    
    div {
        margin: 0rem 1rem;
    }
    ul {
        margin: 0rem 1rem .5rem 1rem;
        list-style-type: disc;
    }
    li {
        margin: .5rem 4rem .5rem 4rem;
    }
}

#educational-resources {
    ol {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0rem 1rem;
        @include mx-font-banner-content;
    }
}

.resource {
    min-width: 200px;
    flex: 1 0;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $color-faded-green;
    border: 2px solid $color-green-dark;
    padding: .5rem;
    margin: 1rem 2rem;

    .resource-title {
    }
    .resource-title::before {
    }
    .resouce-link {
    }
    .resource-link::before {
    }
    .resource-summary {
    }
}

.article-list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0rem 1rem;

    li {
        margin: 0rem 1rem .5rem 2rem;
    }
    .article-title {
        @include mx-font-banner-content;
    }
    .article-title::before {
        content: "\2398";
        margin: 0rem .5rem 0rem 0rem;
    }
    .article-summary {
        border-left: 2px solid $color-contrast-grey;
        font-size: 1.125rem;
        margin: 0rem 1rem 1rem 4rem;
        padding: .5rem 1rem;
    }
}

.contact-box {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h3 {
        margin-left: 0;
    }
    div {
        display: flex;
        flex-flow: row nowrap;
        margin: .5rem 0rem;
    }
    div.submit-box {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 10rem;
    }
    label {
        min-width: 10rem;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: .5rem;
    }
    #label-message {
        align-self: flex-start;
    }
    input, select {
        font-size: 1.25rem;
        height: 1.5rem;
        border-radius: 2px;
        padding: .25rem;
        border-style: solid;
        border-width: 1px;
    }
    input[type="text"], input[type="email"], select {
        max-width: 20rem;
        width: 100%;
    }
    input[type="submit"], select {
        height: 2rem;
        border-color: #333333;
    }
    textarea {
        max-width: 20rem;
        width: 100%;
        min-height: 10rem;
        border-radius: 4px;
    }
}

footer {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}

ul.footer-listing {
    list-style: none;
    padding: 0 0 0 2.5rem;
    margin: 1rem 0;
    width: 25%;

    li {
        margin: .5rem 0;
    }
    h1 {
        color: $color-contrast-white;
        font-size: 1.125rem;
        margin: 0;
        padding: 0;
        @include mx-font-ui;
    }
    a {
        color: $color-contrast-grey;
        text-decoration: none;
        font-size: .875rem;
        @include mx-font-content;
    }
}

a.link-more {
    text-decoration: none;
    color: $color-bg-grey-light;
    border-bottom: .5rem solid $color-blue;
    @include mx-font-h;

    span::before {
        color: $color-blue;
        content: "+";
        margin: 0 .5rem 0 0;
    }
}

a.link-action {
    text-decoration: none;
    width: max-content;
    color: $color-faded-green;
    background-color: $color-blue;
    padding: .5rem 1rem;
    border-radius: .25rem;
    transition: all .25s ease-out;
    text-shadow:
        0 2px 2px rgba(0,0,0,.14),
        0 3px 1px rgba(0,0,0,.2),
        0 1px 5px rgba(0,0,0,.12);
    box-shadow:
        0 2px 2px rgba(0,0,0,.14),
        0 3px 1px rgba(0,0,0,.2),
        0 1px 5px rgba(0,0,0,.12);
    @include mx-font-ui;

    &:hover {
        box-shadow:
            0 2px 4px rgba(0,0,0,.35),
            0 3px 4px rgba(0,0,0,.2),
            0 1px 8px rgba(0,0,0,.35);
    }
}

.nodisplay {
    display: none;
}

.hamburger::after {
    content: "☰";
}

/* Responsive Design */
@media all and (max-width: 960px) {
    h1 {
        font-size: 2.375rem;
        margin: 1rem 1rem .5rem 1rem;
    }

    h2 {
        font-size: 2.375rem;
        margin: 1rem 1rem .5rem 1rem;
        border-bottom: .125rem solid $color-bg-grey-light;
    }

    h3 {
        font-size: 1.75rem;
        margin: 1.5rem 1rem 1rem 1rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.5rem;
        margin: .5rem 1rem 1rem 1rem;
        line-height: 2rem;
    }

    h6 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.25rem;
        margin: .5rem 1rem;
    }

    #home-banner {
        background-position: right;
    }

    #service-summary {
        .summary-item {
            padding: 0rem;

            p {
                min-height: 12rem;
            }
            a {
                font-size: 1.75rem;
                margin: .5rem 0;
            }
        }
    }

    .bio-showcase {
        flex-flow: column nowrap;

        .bio {
            margin: .5rem 1rem;
            max-width: 75%;

            h1 {
                font-size: 1.25rem;
            }
            h2, p, a { 
                font-size: 1.125rem;
            }
        }

        .bio-ltr {
            align-self: flex-start;
        }
        .bio-rtl {
            align-self: flex-end;
        }
    }

    #balf-shipping-sample {
        ul {
            margin: 0rem 2.5rem 1rem 2.5rem;
        }
    }

    #env-consulting-page {
        #env-tagline {
        }

        .table-of-contents {
        }
    }
}

@media all and (max-width: 760px) {
    nav {
        height: auto;

        ul {
            display: flex;
            flex-flow: column nowrap;
        }
        ul.nodisplay-mobile {
        /*    display: none;*/
        }
        ul li {
            font-size: 1.5rem;
            width: 100%;
            background-color: $color-bg-grey-light;
        }
        a {
        }
        a:hover {
            border-bottom: none;
            color: $color-green;
        }
        a.home-icon {
            padding: 1.375rem;
        }
        .mobile-menu-toggle {
            padding: 1.375rem;
        }
        a.home-icon-desktop:hover {
            background-image: url('./assets/home_green_18x18.png');
            background-size: 18px 18px;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
        }
    }

    #service-summary {
        flex-flow: column nowrap;

        .summary-item {
            width: 100%;

            p {
                min-height: auto;
            }
            a {
                font-size: 1.5rem;
            }
        }
    }

    .bio-showcase {
        flex-flow: column nowrap;

        .bio {
            flex-flow: row nowrap;           
            max-width: 36rem;
            justify-content: center;

            img {
                margin: 0 1rem 1rem 1rem;
            }
        }
    }

    .tagline {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0rem 1rem;
    }

    .tagline-content {
        h1 {
            text-align: center;
        }
    }

    .table-of-contents {
        width: 320px;
    }

    .contact-box {
        div {
            flex-flow: column nowrap;
        }
        label {
            text-align: left;
            justify-content: flex-start;
        }
        div.submit-box {
            margin-left: 0rem;
        }
    }

    #balf-what-we-do {
    }

    #balf-preparing-sample {
        flex-flow: column nowrap;
    }

    #balf-ship-cost-sample {
        flex-flow: column nowrap;
        > div {
            width: auto;
        }
        h3 span {
          font-size: 1rem;
          float: right;
        }
    }

    #balf-shipping-sample {
    }

    .article-list {
        margin: 0;
        
        li {
            margin: 0rem 1rem .5rem 1rem;
        }
        .article-summary {
            margin: 0rem 1rem 1rem 2rem;
        }
    }

    .inline-image {
        flex-flow: column nowrap;
    }

    #env-what-we-do li {
        margin: 0rem 2rem .5rem 2rem;
    }

    #env-cost-service li {
        margin: .5rem 2rem .5rem 2rem;
    }
}

@media all and (max-width: 480px) {
    h1 {
        font-size: 2.25rem;
        margin: .5rem 0;
    }
    h2 {
    }
    h3 {
    }
    h5 {
        margin: .5rem 0rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    h6 {
    }

    header {
        height: $height-header * .6;

        img {
            max-width: 100%;
        }
    }

    #home-banner {
        height: auto;
    }

    #home-banner-message {
        position: static;
        width: 100%;
        align-items: center;

        h1 {
            margin: .5rem 0;
            font-size: 2.25rem;
        }
        p {
            box-sizing: border-box;
            text-align: center;
            width: 100%;
            margin: 0 0 .5rem 0;
            padding: 0 .25rem;
        }
        a {
            margin: .5rem 0;
        }
    }
    
    .bio-showcase {
        flex-flow: column nowrap;

        .bio {
            flex-flow: row wrap;           
            max-width: 100%;
            justify-content: center;

            img {
                margin: 0 1rem 1rem 1rem;
            }
            h2 {
                border-bottom: none;
            }
        }

        .bio-ltr {
            justify-content: flex-start;
        }

        .bio-rtl {
            justify-content: flex-end;

            img { 
                order: 0; 
            }
        }
    }
    
    footer {
        flex-flow: column nowrap;
    }

    ul.footer-listing {
        width: auto;
        padding: 0 0 0 1rem;
        margin: .5rem 0;
    }

    .table-of-contents {
        width: 250px;
    }

    #balf-what-we-do {
        h3 {
            text-align: center;
        }
        li {
            margin: .5rem .5rem .5rem 2.5rem;
        }
    }

    #balf-preparing-sample {
        h3 {
            text-align: center;
        }
        ol {
            margin: 0rem 1rem 0rem 2rem;
        }
    }

    #balf-ship-cost-sample {
        margin: 0;
        h3 {
            text-align: center;
        }
    }

    #balf-shipping-sample {
        ul {
            margin: 0rem 1rem 1rem 2rem;
        }
        >div {
            margin: 0rem .5rem 1rem .5rem;
        }
    }

    #env-what-we-do {
        margin: 0;
        padding: 0;

        span {
            margin: 0;
            padding: 0rem 1rem;
        }
    }

    #env-request-services {
        margin: 0;

        div {
            margin: 0;
            padding: 0rem 1rem;;
        }
    }

    #env-cost-service {
        margin: 0;
    }
}

@media all and (max-width: 325px) {
    #home-banner-message {
        h1 {
            font-size: 2.2rem;
        }
    }
}
